*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  cursor: default;
}

.wrapper {
	width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

video, audio, .mejs-ted {
  margin: 0 auto;
  display: block;
}


p {
	padding: 10px;
	font-size: 14px;
	line-height: 2em;
	color: gray;
	max-width: 640px;
	margin: 10px auto;
	text-align: left;
}

@media (min-width: 600px) {
	.wrapper {
		max-width: 640px;
	}

	p {
		padding:0 1% 0 0;
		max-width: 640px;
	}
}